<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body{
            background-color: rosybrown;
        }
        div{
            text-align: center;
        }
        h1{
            margin: 2rem auto;
            color: seagreen;
            font-size: 4rem;
        }
        a{
            text-decoration: none;
            color: olive;
            font-size: 1.3rem;
            margin-right: 2rem;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div>
        <h1>Welcome to the home page</h1>
        <a href="products">Product page</a>
        <a href="users">User page</a>
    </div>
</body>
</html>